.container {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-xs);

  &_text {
    font-weight: var(--mantine-font-weight-bold);
    font-size: var(--mantine-font-size-sm);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
  }
}
