.container {
  display: flex;
  gap: var(--mantine-spacing-xs);
  align-items: center;

  &__text {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--mantine-font-size-sm);
    font-weight: var(--mantine-font-weight-bold);
    white-space: nowrap;
  }
}
