.row {
  border: rem(1px) solid;

  @mixin light {
    border-color: var(--mantine-color-gray-2);
  }

  @mixin dark {
    border-color: var(--mantine-color-dark-5);
  }
}

.control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: var(--mantine-spacing-md);

  &__header {
    display: flex;
    align-items: center;
    gap: var(--mantine-spacing-md);

    &__content {
      display: flex;
      flex-direction: column;
    }

    &__title {
      display: flex;
      flex-direction: row;
      gap: var(--mantine-spacing-xs);
      align-items: center;
    }

    &__info {
      @mixin smaller-than $mantine-breakpoint-sm {
        display: none;
      }
    }
  }

  &__created-at {
    color: var(--mantine-color-dimmed);
  }

  &__outside-info {
    @mixin larger-than $mantine-breakpoint-sm {
      display: none;
    }
  }

  &__status {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--mantine-spacing-xs);
  }
}

.panel {
  display: flex;
  align-items: center;
  width: 100%;

  &__left-actions {
    flex: 1;
  }

  &__id {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: var(--mantine-spacing-md);
    flex-wrap: wrap;
  }

  &__right-actions {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: var(--mantine-spacing-xs);
  }
}
