.tabs-list {
  position: relative;
  gap: var(--mantine-spacing-xs);
  width: 100%;
}

.tab {
  z-index: 1;
  border-radius: var(--mantine-radius-md);
  transition: all 100ms ease;
}

.tab:hover {
  background-color: alpha(var(--mantine-color-brand-3), 0.2);
}

.selected-tab {
  color: white;
}

.indicator {
  background-color: var(--mantine-color-brand-3);
  border-radius: var(--mantine-radius-md);
}

.indicator:hover {
  background-color: var(--mantine-color-brand-9);
}
