.container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var(--mantine-radius-md);
}

.canvas {
  position: absolute;
  inset: 0;
  z-index: 10;
}

.attribution {
  position: absolute;
  right: rem(8px);
  bottom: rem(8px);
  z-index: 10;
}
