.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pulse {
  position: absolute;
  inset: 0;
  background-color: var(--mantine-color-success-3);
  border-radius: 50%;
  animation: pulse 1.5s infinite ease-out;
}

.dot {
  position: relative;
  z-index: 1;
  width: 50%;
  height: 50%;
  background-color: var(--mantine-color-success-3);
  border-radius: 50%;
}

@keyframes pulse {
  from {
    opacity: 0.7;
    transform: scale(0.5);
  }

  to {
    opacity: 0;
    transform: scale(1.5);
  }
}
