.device-div-icon .pin {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: all 0.1s ease;
}

.device-div-icon .pin:hover {
  border-radius: 20%;
  transform: scale(1.2);
}

.device-div-icon .pin-details {
  display: block;
  position: absolute;
  top: -2px;
  left: 35px;
  width: fit-content;
  background: #1f1f1f;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Outfit";
  white-space: nowrap;
  opacity: 0%;
  transition: all 0.1s ease;
}

.device-div-icon .pin:hover + .pin-details {
  opacity: 100%;
}

.device-div-icon .pin-details div {
  margin: 0;
}

.device-div-icon .pin-details .details-name {
  font-size: 16px;
  font-weight: 700;
}

.device-div-icon .pin-details .details-coords {
  font-size: 14px;
}

.device-div-icon .pin-details .details-time {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}
