.shell {
  padding: var(--mantine-spacing-sm);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--mantine-spacing-sm);
  height: 100%;

  &__left-section {
    display: flex;
    align-items: center;

    &__burger {
      @mixin larger-than $mantine-breakpoint-md {
        display: none;
      }
    }
  }

  &__center-section {
    @mixin smaller-than $mantine-breakpoint-md {
      display: none;
    }
  }

  &__right-section {
    display: flex;
    align-items: center;
    gap: var(--mantine-spacing-xs);
  }
}

.content {
  height: calc(100dvh - rem(64px) - rem(24px));
}
